/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.banner-start {
    position: center;
    margin: 45px 0;
    padding: 90px 0;
    background: #D8BFD8;
}
